<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Job Details
    </ion-title>
    <ion-buttons *ngIf="job" [hidden]="!isCandidate()" end>
      <button ion-button icon-left (click)="presentShareJobActionSheet(job)"><ion-icon name="share-alt"></ion-icon>Share</button>
    </ion-buttons>
    <ion-buttons *ngIf="job" [hidden]="isCandidate()" end>
      <button ion-button icon-left (click)="manageJob(job)">
        <!-- <ion-icon name="create"></ion-icon> -->
        <i class="fa fa-2x fa-ellipsis-h"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="banner" *ngIf="job">
    <div class="top_img">
      <img src="../../assets/imgs/category/{{job.category}}_light.svg" class="animated zoomIn">
    </div>
    <h2 class="animated slideInLeft">{{job.title}}</h2>
    <p class="animated slideInRight">Posted {{getDateTime(job.dateCreated)}}</p>
    <ion-grid class="info">
      <ion-row>
        <ion-col col-4 class="animated slideInDown" (tap)="viewViewedUsers()">
          <h2>{{viewed?.length || 0}}</h2>
          <p>Viewed</p>
        </ion-col>
        <ion-col col-4 class="animated slideInDown" (tap)="viewAppliedUsers()">
          <h2>{{applied?.length || 0}}</h2>
          <p>Applied</p>
        </ion-col>
        <ion-col col-4 class="animated slideInDown" (tap)="viewSharedUsers()">
          <h2>{{shared?.length || 0}}</h2>
          <p>Shared</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list *ngIf="job" >
    <div class="job-summary">

      <ion-card class="center">
        <ion-item text-wrap>
          <i class="animated slideInLeft fa fa-briefcase icon" item-start></i>
          <h2 class="animated slideInDown">Description</h2>
          <p class="animated slideInUp"> {{ job.description }}</p>
        </ion-item>
      </ion-card>

      <ion-card class="center">
        <ion-item text-wrap>
          <i class="animated slideInLeft fa fa-map-marker icon" item-start></i>
          <h2 class="animated slideInDown">Address</h2>
          <p class="animated slideInUp">{{ job.address }}</p>
        </ion-item>
      </ion-card>

      <ion-card class="center" *ngIf="job.skills">
        <ion-item text-wrap>
          <i class="animated slideInLeft fa fa-certificate icon" item-start></i>
          <h2 class="animated slideInDown">Required skills</h2>
          <ion-badge color="dark" class="animated slideInUp" *ngFor="let skill of job.skills">{{skill}}</ion-badge>
        </ion-item>
      </ion-card>

      <ion-card class="center" *ngIf="postedBy">
        <ion-item text-wrap>
          <h2 class="animated slideInDown">Posted by <span class="black">{{ postedBy.firstname }} {{postedBy.lastname}}</span></h2>
          <p class="animated slideInUp">
            <i class="animated slideInLeft fa fa-envelope icon" item-start></i>
            {{ postedBy.email}} 
            <br>
            <i class="animated slideInLeft fa fa-phone icon" item-start></i>
            {{ postedBy.phone}} 
          </p>
        </ion-item>
      </ion-card>

    </div>

  <div *ngIf="isCandidate()">
    <div padding [hidden]="applied">
      <button ion-button  color="dark" class="dark" block (click)="applyNow(job)">Apply</button>
    </div>
    <div padding [hidden]="!applied">
      <button ion-button  color="dark" class="dark" block (click)="confirmWithdrawApplication(job)">Cancel Application</button>
    </div>
  </div>

  </ion-list>

</ion-content>