page-forgot-password  {
    .content{
        background-color: $primary !important;
    }
    .item-inner {
        border-bottom: none !important;
    }
    ion-footer{
        text-align: center;
    }
    p {
        color: $white;
        text-align: center;
        margin: 20px 0;
    }
    .label {
        color: $primary !important;
    }

}
