<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterJobs()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search jobs..." [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Refresh jobs"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [@listAnimation]="jobs.length">
    <ion-list *ngFor="let job of jobs">
      <ion-card>
        <ion-item *ngIf="job" class="job" (click)="jobDetails(job)">
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/category/{{job.category}}.svg">
          </ion-thumbnail>
          <h2>{{job.title}}</h2>
          <p>{{job.category}}</p>
          <i class="fa fa-chevron-right light" item-end></i>
        </ion-item>
        <ion-item-divider color="light">
          <div class="row">
            <div class="col col-6 info-bar">
              <div item-start>
                <i class="fa fa-calendar" item-start></i>
                <span>{{getDateFromNow(job.dateCreated)}}</span>
              </div>
            </div>
            <div class="col col-6 info-bar ">
              <div [hidden]="!job.distance" class="distance" item-end>
                <i class="fa fa-map-marker" item-start></i>
              <span>{{job.distance}} km away</span>
              </div>
            </div>
          </div>
        </ion-item-divider>
      </ion-card>
      </ion-list>
  </div>
  <ion-card padding text-wrap class="not-found" *ngIf="!jobs || (jobs && jobs.length < 1)">
    <i class="fa fa-4x fa-briefcase"></i>
    <p>No jobs found matching that criteria.</p>
  </ion-card>
</ion-content>