page-view-users {
  .content {
		background-color: $light-grey !important;
	}
  ion-item.item {
    border: 0 !important;
    border-bottom: 2px solid $secondary !important;
    border-radius: 0 !important;
    margin: 0 !important;
    .list.list-ios {
      margin: 0 !important;
    }
    ion-badge {
      margin-top: 10px;
      background-color: $secondary;
      color: $primary;
    }
    ion-icon {
      font-size: 1em !important;
      margin-right: 4px !important;
    }

    h2 {
      font-weight: bold !important;
      margin: 5px 0 !important;
    }

    p.title {
      margin: 5px 0 !important;
    }

    p.distance {
      color: $primary;
    }
  }
}
