<ion-header>
  <ion-navbar color="dark">
    <ion-title>Jobs Summary</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismissModal()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-toolbar color="light">
    <ion-segment color="dark" [(ngModel)]="category">
      <ion-segment-button value="viewed" (ionSelect)="getViewedJobs()">
        Viewed
      </ion-segment-button>
      <ion-segment-button value="applied" (ionSelect)="getAppliedJobs()">
        Applied
      </ion-segment-button>
      <ion-segment-button value="shared" (ionSelect)="getSharedJobs()">
        Shared
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <div [ngSwitch]="category">  
      <ion-list *ngSwitchCase="'viewed'">
        <div *ngIf="viewedJobs.length > 0" [@listAnimation]="viewedJobs.length">
          <ion-list no-lines class="job" *ngFor="let job of viewedJobs">
            <ion-card>
              <ion-item (click)="jobDetails(job)">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/category/{{job.category}}.svg">
                </ion-thumbnail>
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
              </ion-item>
              <ion-item-divider color="light" class="grey">
                <span item-start>
                  <i class="fa fa-calendar light" item-start></i>
                  {{ getDate(job.dateViewed) }}
                </span>
                <span item-end>
                  <i class="fa fa-bookmark light" item-start></i>
                  {{ countViewed(job) }} viewed
                </span>
              </ion-item-divider>
            </ion-card>
          </ion-list>
        </div>
        <ion-card padding text-wrap class="not-found" *ngIf="!viewedJobs || viewedJobs.length < 1">
          <i class="fa fa-4x fa-eye"></i>
          <p>{{isRecruiter() ? 'You have not viewed a candidate yet' : 'You have not viewed for any job yet'}}</p>
        </ion-card>
      </ion-list>
      
      <ion-list *ngSwitchCase="'applied'">
        <div *ngIf="appliedJobs.length > 0" [@listAnimation]="appliedJobs.length">
          <ion-list no-lines class="job" *ngFor="let job of appliedJobs">
            <ion-card>
              <ion-item (click)="jobDetails(job)">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/category/{{job.category}}.svg">
                </ion-thumbnail>
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
              </ion-item>
              <ion-item-divider color="light" class="grey">
                <span item-start>
                  <i class="fa fa-calendar light" item-start></i>
                  {{ getDate(job.dateAapplied) }}
                </span>
                <span item-end>
                  <i class="fa fa-bookmark light" item-start></i>
                  {{ countApplied(job) }} applied
                </span>
              </ion-item-divider>
            </ion-card>
          </ion-list>
        </div>
        <ion-card padding text-wrap class="not-found" *ngIf="!appliedJobs || appliedJobs.length < 1">
          <i class="fa fa-4x fa-file"></i>
          <p>{{isRecruiter() ? 'You have not posted a job yet' : 'You have not applied for any job yet'}}</p>
        </ion-card>
      </ion-list>
  
      <ion-list *ngSwitchCase="'shared'">
        <div *ngIf="sharedJobs.length > 0" [@listAnimation]="sharedJobs.length">
          <ion-list no-lines class="job" *ngFor="let job of sharedJobs">
            <ion-card>
              <ion-item (click)="jobDetails(job)">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/category/{{job.category}}.svg">
                </ion-thumbnail>
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
              </ion-item>
              <ion-item-divider color="light" class="grey">
                <span item-start>
                  <i class="fa fa-calendar light" item-start></i>
                  {{ getDate(job.dateShared) }}
                </span>
                <span item-end>
                  <i class="fa fa-bookmark light" item-start></i>
                  {{ countShared(job) }} shared
                </span>
              </ion-item-divider>
            </ion-card>
          </ion-list>
        </div>
        <ion-card padding text-wrap class="not-found" *ngIf="!sharedJobs || sharedJobs.length < 1">
          <i class="fa fa-4x fa-share"></i>
          <p>You have not shared a job yet</p>
        </ion-card>
      </ion-list>
  
    </div>
  
  </ion-content>